extends @pug/base

append globals
	- pageName = 'article'

append vars

block content
	+router(pageName)
		.article
			include @components/header/header
			main
				h1 Article.html
				a(href="./") home page
			include @components/footer/footer
